.errorBlock {
    position: relative;
}

.error input {
    outline-color: red;
    border: 1px solid red;
}

.error .errorMessage {
    color: red;
    font-size: 18px;
}

.errorMessage {
    right: -60%;
    top: 25%;
    position: absolute;
}
