.friendOnline {
    display: flex;
    flex-flow: row wrap;
}

.avatar {
    background-color: #FFC82C;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin: 10px;
    cursor: pointer;
}

.name {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}
