.authFormWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 25vh;
    margin: 100px;
}

.authDataWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.authDataLabel {
    color: #47525E;
    font-family: 'Roboto';
    font-size: 26px;
}

.authData {
    color: #929293;
    font-family: 'Roboto';
    font-size: 26px;
    padding: 5px;
    background-color: #fff;
    width: 260px;
    border: 0 solid;
    border-radius: 10px;
}

.rememberMe {
    width: 260px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.rememberMeText {
    color: #47525E;
    font-family: 'Roboto';
    font-size: 20px;
}

.loginBtn {
    color: #fff;
    font-family: 'Roboto';
    font-size: 26px;
    width: 40%;
    cursor: pointer;
    margin: 15px 0;
}
