.chat {
    margin: 50px;
    display: flex;
    flex-flow: column wrap;
}

.chatMessages {
    margin: 10px;
}

.chatInput {
    display: flex;
    flex-flow: column wrap;
}

.messageInput {
    padding: 10px;
    width: 100%;
    min-height: 70px;
    background-color: #E6EEEA;
    border: 0 solid;
    resize: none;
}

.newMessageBtn {
    color: #FFFFFF;
    font-size: 20px;
    width: 80px;
    margin: 10px;
    padding: 5px;
    text-align: left;
    align-self: flex-end;
    border:  0 solid;
    cursor: pointer;
}