.profileContacts {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.profileContacts > div {
    margin: 10px;
}

.profileEntry {
    color: #47525E;
    font-size: 20px;
    line-height: 13px;
}

.textareaInput {
    padding: 10px;
    width: 100%;
    min-height: 80px;
    background-color: #E6EEEA;
    border: 0 solid;
    border-radius: 5px;
    resize: none;
}
