.userAvatar {
    background-color: #E5E9F2;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-image: url('../../../assets/images/smile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
}