.personalInfo {
    margin-left: 30px;
    color: #47525E;
    font-size: 20px;
    line-height: 13px;
    width: 489px;
}

.activeLink {
    text-decoration: none;
    color: blue;
    transition: color .1s ease;

    &:hover {
        color: goldenrod;
        transition: color .1s ease;
    }

    &:active {
        color: gold;
        transition: color .1s ease;
    }
}

.userLogo {
    width: 174px;
    height: 164px;
}

.userData {
    display: flex;
    flex-flow: row wrap;
}

.avatarContainer {
    display: flex;
    flex-flow: column wrap;
}

.inputWrapper {
    position: relative;
    margin: 10px;
}

.uploadAvatar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.uploadLabel {
    padding: 8px;
    background-color: #30475e;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}
