.dialogsSection {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
}

.separator {
    border: 1px solid #7E55F3;
    background: #7E55F3;
    width: 1px;
    // height: 100%;
    margin: 0 60px;
}
