nav {
    width: 10vw;
    height: 70vh;
    background: #222831;
    // padding: 10px;
    margin: 10px 15px 10px 0;
    border: 0px solid;
    border-radius: 12px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.navItems {
    list-style: none;
    padding-inline-start: 0;
}

.navItem,
.navItem a {
    color: #fff;
    font-size: 24px;
    line-height: 44px;
    text-decoration: none;

    a {
        transition: color .3s ease;
    }

    .activeLink {
        color: #a5a5aa;
    }
}

.navItem {
    background: #30475e;
    border: 0px solid;
    border-radius: 6px;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 10%;
    cursor: pointer;
    transition: background .3s ease;

    &:hover {
        transition: background .3s ease;
        background: #f05454;
    }

    &:hover a {
        color: #222831;
    }

    &:active {
        background: #f2a154;
    }

    &:active a {
        color: #f7f6e7;
    }
}

.settings {
    margin: 20px 0;
}